#Differences {
  padding-top: 20px;
  padding-bottom: 20px;
}
.differences {
  display: flex;
  align-items: center;
  gap: 15px;
}
.differences h2 {
  color: rgba(161, 171, 185, 1);
  font-weight: 400;
}
.hero__product {
  font-size: 32px;
  position: relative;
  padding-top: 20px;
}
.product__1 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.product__1 button,
a {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  background: none;
  color: rgba(161, 171, 185, 1);
}
.hero__differences {
  border: 2px solid #e5e2e2;
}
.differences__content {
  display: flex;
  gap: 10px;
  padding: 20px;
}
.differences__content button {
  padding: 10px;
  border: 2px solid #e5e2e2;
  background: #fff;
  color: rgba(126, 135, 148, 1);
  border-radius: 10px;
}

.button__x {
  width: 12px;
}

.Apple {
  display: flex;
}
.Product {
  max-width: 300px;
  padding: 20px;
  position: relative;
  width: 100%;
  border-right: 2px solid #e5e2e2;
}
.difference {
  border-top: 2px solid #e5e2e2;
  border-bottom: 2px solid #e5e2e2;
}
.Apple h1 {
  font-size: 20px;
}
.Apple img {
  width: 120px;
}

.delete {
  position: absolute;
  right: 0;
}

.phone {
  margin: 5px 0 0;
  font-size: 10px;
  color: rgba(126, 135, 148, 1);
}
.Apple {
  font-size: 15px;
  color: rgba(38, 49, 65, 1);
}
.sena {
  margin: 5px 0 0;
  width: 10px;
  color: rgba(126, 135, 148, 1);
}
.prise {
  font-size: 20px;
  margin: 0 0 10px;
}
.Price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Srav {
  font-size: 30px;
  margin: 10px;
}

.Reiting {
  font-size: 17px;
  margin: 10px;
  background: rgba(246, 247, 250, 1);
}
.Star {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
}
.Star span {
  color: rgba(255, 77, 77, 1);
}
.Star p {
  color: rgba(195, 202, 212, 1);
}

.Star h4 {
  color: rgba(126, 135, 148, 1);
}
.model {
  font-size: 17px;
  margin: 10px;
  background: rgba(246, 247, 250, 1);
}
.ProMax {
  display: flex;
  justify-content: space-between;
  font-size: 23px;
  margin: 20px;
  color: rgba(126, 135, 148, 1);
}
.Rezula {
  font-size: 17px;
  margin: 10px;
  background: rgba(246, 247, 250, 1);
}
.number {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0;
  font-size: 23px;
  color: rgba(126, 135, 148, 1);
}
.Cores {
  display: flex;
  font-size: 17px;
  margin: 10px;
  background: rgba(246, 247, 250, 1);
}
.Cores h4 {
  color: rgba(48, 209, 112, 1);
  margin: 10px;
}
.nums {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}
.nums h1 {
  color: rgba(48, 209, 112, 1);
  margin: 10px;
}
.nums h5 {
  color: rgba(126, 135, 148, 1);
  margin: 15px;
}
.netWorks {
  display: flex;
  font-size: 17px;
  margin: 10px;
  background: rgba(246, 247, 250, 1);
}
.netWorks h4 {
  color: rgba(48, 209, 112, 1);
  margin: 10px;
}
.icons {
  display: flex;
  justify-content: space-between;
}
.icons h3 {
  color: rgba(48, 209, 112, 1);
  margin: 10px;
}
.icons h2 {
  color: rgba(255, 59, 48, 1);
  margin: 8px;
}
.memory {
  display: flex;
  font-size: 17px;
  margin: 10px;
  background: rgba(246, 247, 250, 1);
}
.memory h4 {
  color: rgba(48, 209, 112, 1);
  margin: 10px;
}
.gegeBait {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  font-size: 23px;
  color: rgba(126, 135, 148, 1);
}
