#NewArrivals .newArrivals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#NewArrivals .new-content {
  flex: 1 1 45%;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#NewArrivals img {
  max-width: 100%;
  height: auto;
}
