main {
  height: 80vh;
  padding-top: 80px;
}
.from-title span {
  color: #4f2fda;
}

.from-first {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  gap: 80px;
}
.from-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.button {
  border-radius: 15px;
  padding: 7px 25px;
  background: none;
  border: 2px solid;
  color: rgb(68, 68, 211);
}

.form-buttons {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.form-hr span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}
.from-hero span {
  font-size: 16px;
}

.hr1 {
  transform: rotate(90deg);
  width: 70px;
  margin-top: 10px;
}
.form-hr {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 40px;
}

.google {
  display: flex;
  border: 2px solid #340aed;
}
.form-google-text {
  background: blue;
  color: #ffff;
  padding: 5px 30px;
}
.form-google-icon {
  background: white;
  padding: 5px;
}
@media screen and (max-width: 600px) {
  .from-first {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .hr1 {
    display: none;
  }
}
